@using PassmanWeb.Models;
@model IEnumerable<VaultEntry>

@{
    ViewData["Title"] = "Jelszavak";
}

<h1>Jelszavak</h1>

<table id="vaultTable" class="table table-striped table-bordered table-sm datatable">
    <thead>
    <tr>
        <th class="th-sm">
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th class="th-sm">
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th class="th-sm">
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#vaultTable').DataTable({
                searching: false,
                info: false,
                paging: false
            });
        });
    </script>
}
